<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-bg-dark " href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link active text-bg-dark" aria-current="page" href="{% url 'base' %}">Home</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-dark" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-dark" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-bg-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Download PDFs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://pages.razorpay.com/pl_OJ7GqvA540PMIB/view">Spoken English PDF</a></li>
            <li><a class="dropdown-item" href="https://pages.razorpay.com/pl_OFTk0wlJHJFg4b/view">5000+ Daily Use Words</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li> 
      </ul>   
    </div>
  </div>
</nav>